@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    overflow: hidden;
    font-family: 'Cinzel Decorative', cursive;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: floralwhite;
    height: 100vh;
}

.container .box{
    position: absolute;
    width: 500px;
    height: 500px;
}

.container .box::before{
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    opacity: 0.1;
    transform-origin: left;
    transform: rotate(45deg);
}

.container .box .circle{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(135deg, #fff, floralwhite);
    z-index: 1;
    box-shadow: 20px 20px 60px #c1c1c1, -20px -20px 60px #ffffff;
}

.container .box .circle::before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    border-radius: 50%;
  }

  .container .box .circle h1{
    z-index: 2;
    font-size: 5rem;
    text-align: center;
    position: absolute;
    color: rgb(221, 10, 10);
  }

  .container i{
    position: absolute;
    background: #f40009;
    border-radius: 100%;
    animation: animate linear infinite;
  }

  @keyframes animate{
    0%{
        opacity: 0;
        transform: translateY(0);
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(-2000%);
    }
  }
